{% extends 'core/base.html' %}
{% block title %} Services {% endblock title %}
{% block content %}

<div class = " container mt-5">
    <h1 class="text-warning mb-5 border-bottom"> Services </h1>
    <div class = "row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fab fa-aws fa-3x mb-3"></i>
            <p>AWS and Cloud Computing solutions</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-palette fa-3x mb-3"></i>
            <p>Responsive Web Designing solutions</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-code fa-3x mb-3"></i>
            <p>Web Devlopment and coding</p>
        </div>


    </div>
</div>


{% endblock content %}