{% load static %}
<div class= "border-right border-warning h-100">
    <div class = "text-center">
      <img src = "{% static 'core/images/ravi.jpg' %}" alt = "Profile_Pic" class = "img-fluid rounded-circle mt-5" width = "100px" height = "100px"> 
      <h3 class = "text-white mt-3">Ravi  Pandey</h3>
    </div>
    <hr class = "border-bottom">
  <nav class = "nav flex-column text-center">
    <a href="/" class="nav-link">HOME</a>
    <a href="{% url 'services' %}" class="nav-link rr ">SERVICES</a>
    <a href="{% url 'skills' %}" class="nav-link rr">SKILL</a>
    <a href="{% url 'contact' %}" class="nav-link rr">CONTACT</a>
  </nav>
</div>